{% extends 'base.html.twig' %}

{% block title %}{{ 'title.sign_up'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.sign_up'|trans }}</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
{#    {{ form_row(registrationForm.agreeTerms) }} #}

    <button type="submit" class="btn">{{ 'title.sign_up'|trans }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
